body {

    text-align: center;

}

#gameboard {
    background-color: #a5edff;
    border-bottom: 20px solid #973b2b;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333533;
    color: rgb(243, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(100, 0, 0);
    color: #b84343;
}

button:disabled {
    background-color: gray;
    color: white;
    cursor: not-allowed;
}